secrets:
  # Fill in the values for stage and prod environments
  # They will be available inside the function as "event.context"

  dev:
    root:
      redis: redis://localhost:6379/1
      sendgrid:
      emails_from: gatherer-dev@yourdomain.com
      emails_to:

  stage:
    root:
      redis: redis://
      sendgrid: # API key
      emails_from: gatherer-stage@yourdomain.com
      emails_to:

  prod:
    root:
      redis: redis://
      sendgrid: # API key
      emails_from: gatherer-prod@yourdomain.com
      emails_to:
