secrets:
  # Fill in the values for stage and prod environments
  # They will be available inside the function as "event.context"

  dev:
    root:
      postgres: postgres://localhost:5432/article_gatherer
      sendgrid:
      emails_from: gatherer-dev@yourdomain.com
      emails_to:

  stage:
    root:
      postgres: postgres://
      sendgrid:
      emails_from: gatherer-stage@yourdomain.com
      emails_to:

  prod:
    root:
      postgres: postgres://
      sendgrid:
      emails_from: gatherer-prod@yourdomain.com
      emails_to:
